[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[user]
	name = Warren Wang
	email = warren.min.wang@gmail.com

[alias]
	a = add
	b = branch
	s = status
	d = diff
	ds = diff --staged
	l = log
	f = fetch
	lg = log --oneline --graph --decorate
	ll = log --oneline --graph --decorate --all
	ci = commit
	cm = commit -m
	co = checkout
	ps = push
	pl = pull
	unstage = reset HEAD --
	undo = reset --soft HEAD^
	lb = !git branch --sort=-committerdate | head -10

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
	default = current

[core]
	editor = nvim
	autocrlf = false
	eol = lf
